*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: black; */
    background-image: url('nature.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 5px 10px 10px 10px lightseagreen; */
}
.clock{
    height: 400px;
    width: 90%;
    max-width: 400px;
    border-radius: 50%;
    background-image:url(clock\ image.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain ;
    background-color: greenyellow;
    position: relative; 
    box-shadow: 5px 10px 10px purple,-15px -15px 30px greenyellow  ;
}

.min,
.sec{
    position:absolute;
    top: 50%;
    left: 50%;
    height: 5px;
    width: 30%;
    background-color: rgb(0,0,0);
    border-radius: 50%;
    transform: rotate(-90deg);

    transform-origin:left ;
    /* box-shadow: 5px 10px 10px 10px lime; */
}
.hour{
    position:absolute;
    top: 50%;
    left: 50%;
    height: 5px;
    width: 16%;
    background-color: rgb(0,0,0);
    border-radius: 50%;
    transform: rotate(-90deg);

    transform-origin:left ;
}
.min{
    position:absolute;
    top: 50%;
    left: 50%;
    height: 5px;
    width: 22%;
    background-color: rgb(0,0,0);
    border-radius: 50%;
    transform: rotate(-90deg);

    transform-origin:left ;
}